$gold: #e2bc36;
#contact-form-right-form {
	width: 50%;
	float: right;
	margin-top: 2em;
}

#contact-form-left-info {
	width: 50%;
	float: left;
	font-family: Nunito;
	h1 {
		margin-left: 30%;
		font-size: 1.2em;
		#contact-form-email {
			cursor: pointer;
			font-weight: 200;
			a {
				color: #000000;
			}
		}
		#contact-form-email:hover {}
	}
	#contact-form-header {
		margin-top: 12em;
	}
}

#contact-form {
	margin-top: 100px;
	margin-left: 100px;
	input,
	textarea {
		width: 200px;
		display: block;
		padding: 10px;
		background: #FFFAFA;
		border: 2px solid #111111;
		margin-bottom: 20px;
		outline: none;
		transition: all 0.3s ease-in-out 0s;
		font-family: Nunito;
	}
	input:focus,
	textarea:focus {
		border: 2px solid $gold;
	}
	textarea {
		resize: none;
	}
	button {
		padding: 16px 31px;
		font-family: Nunito;
		font-weight: 900;
		font-size: 1em;
		color: $gold;
		border: 2px solid #111111;
		background-color: #ffffff;
		border-radius: 42px;
		transition: all 0.3s ease-in-out 0s;
		position: relative;
	}
	button:hover {
		color: white;
		background-color: $gold;
		cursor: pointer;
		padding-right: 45px;
	}
	button:hover > img {
		display: block;
		opacity: 1;
	}
	img {
		position: absolute;
		transition: all 0.3s ease-in-out 0.2s;
		top: 36%;
		right: 12%;
		width: 15px;
		opacity: 0;
	}
}