#gallery-main-div {
	max-width: 800px;
	margin: auto;
	position: relative;
	width: 80%;
	.gallery-img {
		display: none;
		width: 100%;
	}
	#gallery-inner-div {
		text-align: center;
		padding: 0.01em 16px;
		margin-top: 16px;
		margin-bottom: 16px;
		font-size: 18px;
		color: #fff;
		position: absolute;
		left: 50%;
		bottom: 0;
		transform: translate(-50%, 0%);
		width: 100%;
		#gallery-div-click-left {
			float: left;
		}
		#gallery-div-click-right {
			float: right;
		}
		.gallery-change-dots {
			color: #fff;
			display: inline-block;
			text-align: center;
			border-radius: 50%;
			cursor: pointer;
			height: 13px;
			width: 13px;
			padding: 0;
			border: 1px solid #ccc;
			background-color: transparent;
		}
		.gallery-change-dots:hover {
			background-color: #fff;
			color: #000;
		}
		.gallery-change-dots-active {
			background-color: #fff !important;
			color: #000 !important;
		}
	}
}