#contact-form-return-div {
	#contact-form-thanks-h1 {
		width: 50%;
		float: left;
		font-family: Nunito;
		margin-left: 40%;
		margin-top: 5em;
		font-size: 1.2em;
	}
	#contact-form-thanks-return {
		padding: 16px 31px;
		font-family: Nunito;
		font-weight: 900;
		font-size: 1em;
		color: $gold;
		border: 2px solid #111111;
		background-color: #ffffff;
		border-radius: 42px;
		transition: all 0.3s ease-in-out 0s;
		position: relative;
		margin-left: 42%;
	}
	#contact-form-thanks-return:hover {
		color: white;
		background-color: $gold;
		cursor: pointer;
		padding-right: 45px;
	}
	#contact-form-thanks-return:hover > img {
		display: block;
		opacity: 1;
	}
	img {
		position: absolute;
		transition: all 0.3s ease-in-out 0.2s;
		top: 38%;
		right: 12%;
		width: 15px;
		opacity: 0;
	}
}